<!DOCTYPE html>
<html>
  <head>
    <title>Kabu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Indie+Flower&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
